[submodule ".registry"]
	path = .registry
	url = https://github.com/igrave/igrave.r-universe.dev
	branch = HEAD
[submodule "ladder"]
	path = ladder
	url = https://github.com/igrave/ladder
[submodule "ladder.api"]
	path = ladder.api
	url = https://github.com/igrave/ladder.api
