[submodule ".registry"]
	path = .registry
	url = https://github.com/igrave/igrave.r-universe.dev
	branch = HEAD
[submodule "SlidesTools"]
	path = SlidesTools
	url = https://github.com/igrave/SlidesTools
[submodule "SlidesTools.flextable"]
	path = SlidesTools.flextable
	url = https://github.com/igrave/SlidesTools.tables
